/* font style from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 1150px;
    height: 100vh;
    margin: 70px auto;
}

/* nav section start from here */
.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-icon a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}

.nav-icon li {
    list-style: none;
}

.nav-icon ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-icon-images {
    display: flex;
    gap: 30px;
    align-items: center;
}

.logo-name {
    color: #3A3A3A;
    font-size: 1.4rem;
    font-weight: 700;
}